@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

.navbar{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky{
    padding: 15px 0;
    background: crimson; 
}

.max-width{
    max-width: 2045px;
    padding: 0 80px;
    margin: auto;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}

/* video styling */

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
}

/* video styling */
/* navigation bar styling */

.navbar .menu li {
    list-style: none;
    display: inline-block;
    letter-spacing: 2px;
}

.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: crimson;
}

.navbar.sticky .menu li a:hover{
    color:#111;
}

/* navigation bar styling */

.home-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home {
    display: flex;
    background: black; 
    height: 100vh;
    margin: 0;
    height: 100vh;
    align-items: center;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .home-content .text-1{
    font-size: 27px;
}

.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
    color: crimson;
}

.home .home-content .text-3{
    font-size: 27px;
    margin: 5px 0;
}

/* for users on mobile */

.burger {
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgba(226, 226, 226);
    margin: 5px;
}

@media (max-width: 768px) {

}

/* social icon styles */
.social {
    
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 120px;    
}
    
.social li {
    list-style: none;
}
    
.social li a {
    display: inline-block;
    filter: invert(1);
    margin-right: 20px;
    transform: scale(1);
    transition: 0.5s;
}
    
.social li a:hover {
    transform: scale(1) translateY(-15px);
}


/* about section style #3C061E */
.about-title {
    background-color: #1C1311;  
    font-size: 5vh;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    
}

.about-section{
    width: 100%;
    min-height: 100vh;
    padding: 50px 100px 0;
    top: 0;
    transition: 1s;
    background-color: #1C1311;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
}

.about-section .p {
    color: #fff;
}

.about{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 65%;
    grid-gap: 40px;
}
 
.about-img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 7px double white;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    border: none;
    padding: 12px 35px;;
    background-color: #fff;
    color:#000;
    align-items: center;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border-radius: 30px;
    cursor: pointer;
    margin: 0px 0 10px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button:active {
    transform: scale(0.98);
}

/* end about me section style */

/* portfolio title style */
.portfolio-title {
    background-color: #1C1311;
    font-size: 5vh;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;

}

.portfolio-container {
    min-height: 100vh;
    padding: 10px 10px 0;
    top: 0;
    background-color: #1C1311;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
}

.proj {
    justify-content: center;
    display: flex;
    margin: 20px;
}

.text1 {
    justify-content: center;
    display: flex;
    margin: 20px;
    text-indent: 30px;
}

.text2 {
    justify-content: center;
    display: flex;
    margin: 20px;
    text-indent: 30px;
}

.text3 {
    justify-content: center;
    display: flex;
    margin: 20px;
    text-indent: 120px;
    margin-left: 30px;
}

.text4 {
    justify-content: center;
    display: flex;
    margin: 20px;
    margin-left: 120px;
    text-indent: 30px;
}
